:root {
    --primary: #4C9689;
    --invalid: #e74c3c;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: #4D394B;
    display: flex;
    align-items: center;
    justify-content: center;
}
      
.sudoku-container {
    border: 4px solid #1D131E;
    padding: 0 2px;
}
      
.sudoku-container input {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    padding: 0;
    border: 3px solid #2E222D;
    background-color: #2E222D;
    color: #eee;
}
      
.sudoku-container input:focus {
    border-color: #4C9689;
  }
  
  .sudoku-container input.highlight {
    background-color: #29B6F6;
    border-color: #29B6F6;
  }
  
  .sudoku-container input.disabled {
    cursor: not-allowed;
    background-color: #4C9689;
    border-color: #4C9689;
  }
  
  .sudoku-container .invalid {
    border-color: #e74c3c;
  }
  
  .btn {
    background-color: #4C9689;
    box-shadow: inset 0 -3px darken(#4C9689, 10%);
  }
  
  #controls {
    margin: 20px 0;
  }